:root{
  --primary-color: white;
  --bg-color: white;
  --secondary-color: black;
}

[data-theme="dark"]{
  --primary-color: white;
  --bg-color: black;
  --secondary-color: red;
}

body{
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-family: 'Muli', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  height: 100vh;
  display: flex;
}

h1{
  font-family: 'Oswald', sans-serif;
  font-size: 6rem;
  text-transform: uppercase;
  margin: 0;
}

.heading{
  text-align: center;
}

.btn-primary{
  background-color: red;
  padding: 1.4rem 3rem;
  border-radius: 5rem;
  display: inline-block;
}

a{
  color: white;
  text-decoration: none;
}

p{
  font-size: 2rem;
  line-height: 1.6;
}

section{
  max-width: 800px;
  height: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.theme-switch-wrapper{
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.theme-switch{
  display: block;
  height: 34px;
  position: relative;
  width: 60px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.theme-switch input{
  display: none;
}

.slider {
  background-color: black;
  bottom: 0;
  cursor: pointer;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  transition: .4s all;
}

.slider:before {
  background-color: white;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s all;
  width: 26px;
}

input:checked + .slider{
  background-color: #ff3366;
}

input:checked + .slider:before{
  transform: translateX(26px);
}

.slider.round{
  border-radius: .25rem;
}

.slider.round:before{
  border-radius: .25rem;
}
